<div class="image-field">
<b>
	{{ widget.format_value }}
	{% if widget.is_initial %}
		{% if not widget.required %}
			<label>Delete current image:</label>
			<input type="checkbox" name="{{ widget.checkbox_name }}" id="{{ widget.checkbox_id }}"{% if widget.attrs.disabled %} disabled{% endif %}>		
			<br>
		{% endif %}
	{% endif %}
	<input type="{{ widget.type }}" name="{{ widget.name }}"{% include "django/forms/widgets/attrs.html" %}>
	<button type="button" class="remove-image">Remove File</button>
</b>
</div>
<br>